<div class="scroll">

<% @rants.reverse_each do |rant| %>
  <div class="rant-box">
    <div class="rant-head">
      <% if rant.user != nil %>
        <!-- I MADE THIS HIDDEN SO I COULD SHOW THE GRAVITAR -->
        <h3><% rant.user.full_name %></h3>
      <% end %>

        <%= link_to "Edit", edit_rant_path(rant), class: "body-button fa fa-edit" %>

      <h2><%= link_to rant.title, rant_path(rant) %></h2><br>
    </div>

    <div class="avatar">
    </div>

    <div class="rant-post">
      <%= rant.body %>
    </div>

  </div>
<% end %>
</div>
