<div class="scroll">

<% @rants.each do |rant| %>
  <div class="rant-box">
    <div class="rant-head">
      <% if rant.user != nil %>
        <!-- I MADE THIS HIDDEN SO I COULD SHOW THE GRAVITAR -->
        <h3><% rant.user.full_name %></h3>
      <% end %>

      <a href= <%= edit_rant_path(rant) %> >
        <div class="body-button">
          <i class="fa fa-edit"></i> Edit
        </div>
      </a>

      <h2><%= link_to rant.title, rant_path(rant) %></h2><br>
    </div>

    <div class="avatar">
    </div>

    <div class="rant-post">
      <%= rant.body %>
    </div>

  </div>
<% end %>
</div>
