
@font-face {
    font-family: 'flat-ui-icons-regular';
    src: url('/assets/webfontkit/flat-ui-icons-regular.eot');
    src: url('/assets/webfontkit/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfontkit/flat-ui-icons-regular.woff2') format('woff2'),
         url('/assets/webfontkit/flat-ui-icons-regular.woff') format('woff'),
         url('/assets/webfontkit/flat-ui-icons-regular.ttf') format('truetype'),
         url('/assets/webfontkit/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flat-ui-icons-regular';
    src: url('/fonts/flat-ui-icons-regular.eot');
    src: url('/fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/flat-ui-icons-regular.woff2') format('woff2'),
         url('/fonts/flat-ui-icons-regular.woff') format('woff'),
         url('/fonts/flat-ui-icons-regular.ttf') format('truetype'),
         url('/fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
