.user-form{
  width: 100%;
  padding:10px;
  font-size: 14pt;
  border-radius: 3px;
  border: 2px solid $inactiveGrey;
  outline: none;
  margin-bottom: 15px;
}

.profile-box .user-form{
  width: 94%;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
}

.has-feedback .form-control-feedback{
  margin: 10px 10px 0 0;
}

.lower-glyphicon .form-control-feedback{
  margin: 16px 10px 0 0;
}

.has-feedback .fa-user, .has-feedback .fa-lock{
  color: $inactiveGrey;
  font-size: 16pt;
}

.user-form:focus + .fa-user, .user-form:focus + .fa-lock{
  color: $buttonGreen;
  font-size: 16pt;
}
